body {
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

.form-container {
  max-width: 800px;
  margin: 1rem auto 0rem auto;
  padding: 1.5rem;
  background-color: #fff;
  border: 2px solid black;
  border-radius: 8px;
  text-align: center;
}

h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #111;
}

input,
select {
  width: 100%;
  padding: 14px;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  box-sizing: border-box;
}

.form-row {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.form-col {
  flex: 1;
}

button {
  width: 40%;
  padding: 14px;
  font-size: 1rem;
  font-weight: bold;
  background-color: #111;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #333;
}

.form-footer {
  margin-top: 2rem;
  font-size: 0.99rem;
  color: #000000;
  font-weight: 700;
}

.form-footer p {
  margin-bottom: 0.5rem;
}
