@import "variables.css";

#tag-line {
    color: var(--clr-text);
}

#progress-buttons {
    display: flex;
    justify-content: space-evenly;
    
}

#start-btn {
    border-radius: var(--border-radius);
    background-color: var(--clr-primary);
    padding: 12px;
    width: 30%;
    color: white;
}

#about-btn {
    border-radius: var(--border-radius);
    padding: 12px;
    width: 30%;
}