@import "variables.css";

ul {
  margin: 20px 10px;
  list-style: none;
}

#nav-ul {
  display: flex;
  align-content: center;
  justify-content: space-around;
  background: var(--clr-primary);
  border-radius: var(--border-radius);
  padding: 8px;
}

.nav-item {
  margin-left: 12px;
}

.nav-item a {
  color: rgb(255, 255, 255);
  list-style-type: none;
  padding: 16px 30px;
  border-radius: var(--border-radius);
}

.nav-item a:hover {
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  transition: 0.8s ease-out;
  text-decoration: underline;
  text-decoration-color: black;
  text-underline-offset: 10px;
  text-decoration-thickness: 3px;
  text-decoration-skip-ink: none;
}

.active-nav-link {
  color: rgb(0, 0, 0) !important;
  text-decoration: underline;
  text-decoration-color: #ffffff;
  text-underline-offset: 10px;
  text-decoration-thickness: 3px;
  text-decoration-skip-ink: none;
}

#logout {
  background-color: var(--clr-accent);
  color: #fff;
  border-radius: var(--border-radius);
  width: 120px;
  border: none;
  cursor: pointer;
  margin-top: 3px;
}